logs/
npm-debug.log
node_modules/
coverage/
.idea/
run/
.DS_Store
*.swp

.nyc_output/
logs/
app.d.ts
app.js
agent.d.ts
agent.js
app/**/*.js
config/**/*.js
test/**/*.js
lib/**/*.js
app/**/*.d.ts
config/**/*.d.ts
test/**/*.d.ts
lib/**/*.d.ts

